<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../src/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/general.css">
	<link rel="stylesheet" type="text/css" href="../styles/contacto.css">
	<title>Eternal Pets</title>
</head>

<body>
	<nav>
		<div id="desktop-nav">
			<img src="../src/img/logos/logo.svg" alt="#">
			<ul>
				<a href="home.html">
					<li>Nosotros</li>
				</a>
				<a href="productos.html">
					<li>Productos</li>
				</a>
				<a href="servicios.html">
					<li>Servicios</li>
				</a>
				<a class="selected" href="contacto.html">
					<li>Contacto</li>
				</a>
			</ul>
		</div>
		<div id="mobile-nav">
			<span href="#" id="menu-icon"><img src="../src/icons/menu.svg" alt="#">MENU</span>
			<img id="logo" src="../src/img/logos/logo.svg" alt="#">
			<div id="menunav">
				<ul id="menu">
					<a href="home.html">
						<li>Nosotros</li>
					</a>
					<a href="productos.html">
						<li>Productos</li>
					</a>
					<a href="servicios.html">
						<li>Servicios</li>
					</a>
					<a href="contacto.html">
						<li>Contacto</li>
					</a>
				</ul>
			</div>
		</div>
	</nav>
	<main>

		<div class="top">
			<div class="icono">
				<div class="info">
					<img src="../src/img/contacto_img/tlf.png" alt="Teléfono">
					<h2 class="titulo">Teléfono:</h2>
				</div>
				<p class="datos">986412342</p>
			</div>

			<div class="icono">
				<div class="info">
					<img src="../src/img/contacto_img/mail.png" alt="Correo electrónico">
					<h2 class="titulo">Email:</h2>
				</div>
				<p class="datos">eternalpet.sl@gmail.com</p>
			</div>
		</div>

		<div class="bot">
			<div class="left">
				<img class="fachada" src="../src/img/contacto_img/fachada.png" alt="#">
			</div>

			<div class="right">
				<div class="icono">
					<div class="info">
						<img src="../src/img/contacto_img/ubicacion.png" alt="Ubicación">
						<h2 class="titulo">Dirección:</h2>
					</div>
					<h4>Local:</h4>
					<p class="datos">Avenida de Castelao,</p>
					<p> 36209, Vigo</p>
					<p> Pontevedra</p>
					<h4>Columbario:</h4>
					<p class="datos">Estrada Peinador
					<p>Os Valos, polígono 14</p>
					<p>Parcela 845</p>
					<p>Escobiñas</p>
					<p>Mos</p>

				</div>
			</div>
		</div>

	</main>
	<footer>
		<div id="redes">
			<a href="https://twitter.com/"><input type="button" class="twitter"></a>
			<a href="https://www.instagram.com/"><input type="button" class="insta"></a>
			<a href="https://www.facebook.com/"><input type="button" class="facebook"></a>
		</div>
	</footer>
	<script type="module" src="../scripts/navbarMobile.js"></script>

</body>