<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../src/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/home.css">
	<title>Eternal Pets</title>
</head>

<body>
	<header>
		<img src="../src/img/logos/logo.svg" alt="#">
	</header>
	<nav>
		<ul>
			<li><a href="home.html">Nosotros</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main>
		<div>
			<p>En Eternal Pet, sabemos que las mascotas no son solo animales, son miembros de la
				familia, compañeros leales y parte esencial de nuestras vidas.</p>

				<p>Queremos ofreceros un entorno sereno, respetuoso y lleno de cariño donde puedas
				despedirte de tu mascota con la dignidad que merece.</p>

				<p>Creemos en la importancia de preservar los recuerdos y de celebrar la vida compartida
				con nuestras mascotas.</p>
				<p>Para este bonito propósito, hemos creado un espacio único en Vigo dedicado a honrar y
				recordar a nuestros seres especiales que llenaron cada día de amor y felicidad.
				Hemos diseñado unas instalaciones para proporcionarles un lugar de descanso eterno,
				rodeado de naturaleza y tranquilidad.</p>
				<p>Además, te ofrecemos servicios personalizados para que se adapten a tus necesidades,
				y así hacer que este momento sea lo más llevadero posible.</p>
				Gracias por confiar en nosotros para honrar la memoria de tu fiel compañero.</p>
		</div>
		<div>
			<img src="../src/img/home_img/perrogato.png" alt="#">
		</div>
		
	</main>
	<footer>
		<div id="redes">
			<a href="https://twitter.com/"><input type="button" class="twitter"></a>
			<a href="https://www.instagram.com/"><input type="button" class="insta"></a>
			<a href="https://www.facebook.com/"><input type="button" class="facebook"></a>
		</div>
	</footer>
</body>

</html>