<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../src/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/general.css">
	<link rel="stylesheet" type="text/css" href="../styles/home.css">
	<title>Eternal Pets</title>
</head>

<body>

	<nav>
		<img src="../src/img/logos/logo.svg" alt="#">
		<ul>
			<a href="home.html"><li>Nosotros</li></a>
			<a href="productos.html"><li>Productos</li></a>
			<a href="servicios.html"><li>Servicios</li></a>
			<a href="contacto.html"><li>Contacto</li></a>
		</ul>
	</nav>
	<main>
		<div class="parrafo">
			<h1 class="title">Las mascotas no son solo animales, son miembros de la
				familia, compañeros leales y parte esencial de nuestras vidas.</h1>
		</div>
		<div class="parrafo">
			<div class="texto">
				<p>Queremos ofreceros un entorno sereno, respetuoso y lleno de cariño donde puedas
					despedirte de tu mascota con la dignidad que merece.</p>

				<p>Creemos en la importancia de preservar los recuerdos y de celebrar la vida compartida
					con nuestras mascotas.</p>

				<p>Para este bonito propósito, hemos creado un espacio único en Vigo dedicado a honrar y
					recordar a nuestros seres especiales que llenaron cada día de amor y felicidad.
					Hemos diseñado unas instalaciones para proporcionarles un lugar de descanso eterno,
					rodeado de naturaleza y tranquilidad.</p>

				<p>Además, te ofrecemos servicios personalizados para que se adapten a tus necesidades,
					y así hacer que este momento sea lo más llevadero posible.</p>

			</div>
			<div class="imagen">
				<img class="perrogato" src="../src/img/home_img/perrogato.png" alt="#">
			</div>
		</div>

		<div class="parrafo">
			<div class="imagen">
				<img class="conejo" src="../src/img/home_img/conejos.jpg" alt="#">
			</div>
			<div class=texto_final>
				<h1 class="title">Gracias por confiar en nosotros para honrar la memoria de tu fiel compañero.</h1>
			</div>
		</div>

	</main>
	<footer>
		<div id="redes">
			<a href="https://twitter.com/"><input type="button" class="twitter"></a>
			<a href="https://www.instagram.com/"><input type="button" class="insta"></a>
			<a href="https://www.facebook.com/"><input type="button" class="facebook"></a>
		</div>
	</footer>
</body>

</html>