<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../src/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/general.css">
	<title>Eternal Pets</title>
	<link rel="stylesheet" href="../styles/productos.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<nav>
		<div id="desktop-nav">
			<img src="../src/img/logos/logo.svg" alt="#">
			<ul>
				<a href="home.html">
					<li>Nosotros</li>
				</a>
				<a class="selected" href="productos.html">
					<li>Productos</li>
				</a>
				<a href="servicios.html">
					<li>Servicios</li>
				</a>
				<a href="contacto.html">
					<li>Contacto</li>
				</a>
			</ul>
		</div>
		<div id="mobile-nav">
			<span href="#" id="menu-icon"><img src="../src/icons/menu.svg" alt="#">MENU</span>
			<img id="logo" src="../src/img/logos/logo.svg" alt="#">
			<div id="menunav">
				<ul id="menu">
					<a href="home.html">
						<li>Nosotros</li>
					</a>
					<a href="productos.html">
						<li>Productos</li>
					</a>
					<a href="servicios.html">
						<li>Servicios</li>
					</a>
					<a href="contacto.html">
						<li>Contacto</li>
					</a>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<div class="container">
			<div class="container-inside reverse">
				<div class="element">

					<div id="carousel-anillos" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<img src="../src/img/joyas/anillos/anillo-1.webp" class="d-block w-100 cover" alt="anillo-1">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-2.webp" class="d-block w-100 cover" alt="anillo-2">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-3.webp" class="d-block w-100 cover" alt="anillo-3">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-4.webp" class="d-block w-100 cover" alt="anillo-4.">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-5.webp" class="d-block w-100 cover" alt="anillo-5">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-6.webp" class="d-block w-100 cover" alt="anillo-6">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-7.webp" class="d-block w-100 cover" alt="anillo-7">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/anillos/anillo-8.webp" class="d-block w-100 cover" alt="anillo-8collar-1							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carousel-anillos"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carousel-anillos"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="element">
					<h2>Anillos</h2>

					<label>
						Con nuestros anillos llevarás a tus mascotas al alcance de tu mano, cuando
						sientas que necesitas recordar a tu fiel compañero, podrás tocar parte de
						su ser y evocar el recuerdo de acariciarlo.
					</label>
				</div>
			</div>
			<div class="container-inside column">
				<div class="element">
					<h2>Collares</h2>
					<label>
						Con nuestros colgantes siempre llevarás a tu fiel compañero cerca,
						teniéndolo al lado de tu corazón.
					</label>
				</div>
				<div class="element">
					<div id="carousel-collares" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<img src="../src/img/joyas/collares/collar-1.webp" class="d-block w-100 cover"
									alt="collar-1">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/collares/collar-2.webp" class="d-block w-100 cover"
									alt="collar-2">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/collares/collar-3.webp" class="d-block w-100 cover"
									alt="collar-3">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/collares/collar-4.webp" class="d-block w-100 cover"
									alt="collar-4">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/collares/collar-5.webp" class="d-block w-100 cover"
									alt="collar-5">
							</div>

						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carousel-collares"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carousel-collares"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

				</div>
			</div>

			<div class="container-inside reverse">
				<div class="element">
					<div id="carousel-pulseras" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner rounded">
							<div class="carousel-item active">
								<img src="../src/img/joyas/pulseras/pulsera-1.webp" class="d-block w-100 cover"
									alt="pulsera-1">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/pulseras/pulsera-2.webp" class="d-block w-100 cover"
									alt="pulsera-2">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/joyas/pulseras/pulsera-3.webp" class="d-block w-100 cover"
									alt="pulsergato-1">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carousel-pulseras"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carousel-pulseras"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="element">
					<h2>Pulseras</h2>
					<label>
						Con nuestras pulseras lleva siempre a tu fiel compañero cerca, recordarás
						con amor como posaba su patita en tu muñeca.
					</label>
				</div>
			</div>

			<div class="container-inside column">
				<div class="element">
					<h2>Figuras</h2>
					<label>
						Nuestras figuras te darán la oportunidad de tener siempre contigo a tu fiel amigo.
						Podrás verlo en cualquier momento y llevarlo contigo a cualquier lugar.
					</label>
					<label>
						Son mejores que unas fotografías, ya que plasman la emoción característica de tu gran
						amigo, la postura que más le gustaba o incluso la carita con la que te miraban.
					</label>
				</div>
				<div class="element">
					<div id="carousel-figuras" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
						<div class="carousel-inner rounded">

							<div class="carousel-item active">
								<img src="../src/img/figuras/gatos/gato-1.webp" class="d-block w-100 cover" alt="gato-1">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/perros/perro-1.webp" class="d-block w-100 cover" alt="perro-1">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/gatos/gato-2.webp" class="d-block w-100 contains" alt="gato-2">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/perros/perro-2.webp" class="d-block w-100 contains" alt="perro-2">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/gatos/gato-3.webp" class="d-block w-100 contains" alt="gato-3">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/perros/perro-3.webp" class="d-block w-100 contains" alt="perro-3">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/gatos/gato-4.webp" class="d-block w-100 cover" alt="gato-4">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/figuras/perros/perro-4.webp" class="d-block w-100 cover" alt="perro-4">
							</div>

							<div class="carousel-item ">
								<img src="../src/img/figuras/gatos/gato-5.webp" class="d-block w-100 cover" alt="gato-5">
							</div>
							<div class="carousel-item ">
								<img src="../src/img/figuras/perros/perro-5.webp" class="d-block w-100 cover" alt="perro-5">
							</div>

						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carousel-figuras"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carousel-figuras"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</main>
	<footer>
		<div id="redes">
			<a href="https://twitter.com/"><input type="button" class="twitter"></a>
			<a href="https://www.instagram.com/"><input type="button" class="insta"></a>
			<a href="https://www.facebook.com/"><input type="button" class="facebook"></a>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script type="module" src="../scripts/navbarMobile.js"></script>

</body>