<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../src/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/home.css">
	<title>Eternal Pets</title>
</head>

<body>
	<header>
		<img src="../src/img/logos/logo.svg" alt="#">
	</header>
	<nav>
		<ul>
			<li><a href="home.html">Nosotros</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<main>
		<p>servicios</p>
	</main>
	<footer>
		<div id="redes">
			<a href="https://twitter.com/"><input type="button" class="twitter"></a>
			<a href="https://www.instagram.com/"><input type="button" class="insta"></a>
			<a href="https://www.facebook.com/"><input type="button" class="facebook"></a>
		</div>
	</footer>
</body>
