main {
  flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin: 5%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5%
}

.icono {
    display: flex;
    align-items: center;
    margin: 6%;
}

.icono img {
    width: 50px;
    height: 50px;
}

.info p {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;   
}

.titulo{
font-weight: bold;
}

.datos{
    text-indent: 8px;
}

.fachada {
    max-width: 100%;
    height: auto;
}

@media (min-width: 601px) and (max-width: 1366px) {
 
    .container {
        flex-direction: column-reverse;   
    }

    .left-column {
        width: 100%;
        padding-right: 10%;
    }
    .right-column{
        flex-direction: column;
        width: 90%;
        padding-right: 10%;
    }

    .fachada {
        width: 90%;
        height: auto;
    }

    .info  {
        font-size: large;
        text-align: center;
        padding-top: 2px;
    }

    .titulo{
        text-align: center;
        }

    .datos{
        text-indent: 0px;
    }

    .icono {
        flex-direction: column;
        align-items: center;
    }

    .icono img {
        width: 60px;
        height: 60px;
    }
   
}

@media (max-width: 600px) {

    .container {
        flex-direction: column-reverse;   
    }

    .left-column {
        width: 100%;
        padding-right: 10%;
    }
    .right-column{
        flex-direction: column;
        width: 80%;
       
    }

    .fachada {
        width: 80%;
        height: auto;
    }

    .info p {
        font-size: medium;
    }

    .titulo{
        text-align: center;
        }

    .datos{
        text-indent: 0px;
    }

    .icono {
        flex-direction: column;
        align-items: center;
      
    }

    .icono img {
        width: 50px;
        height: 50px;
    }


}
