main {
  flex-direction: column;
}

.top,.bot{
    display: flex;
    width: 100%;
    margin-top: 6%;   
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    width: 50%;
}
.info{
    display: flex;
    align-items: baseline;

    img{
        width: 30px;
        height: 30px;
    }
}

.titulo {
    margin: 4%;
    margin-left: 7%;
    padding-bottom: 5%;
    color: #8F5D46;
}

.right,.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    h4{
        margin-top: 4%;
        margin-bottom: 4%;
    } 
}

.fachada {
   padding-top: 5%;
   padding-left: 5%;
    max-width: 100%;
    height: auto;
}

@media (min-width: 710px) and (max-width:860px) {
  .right{
    width: 60%;
  }
  .left{
    width: 40%;
  }    
}

@media (max-width: 710px) {

    .top{
        flex-direction: column;
        align-items: center;
    }
   .bot{
    flex-direction: column-reverse;
   }
   .left,.right{
    width: 100%;
   }

    .fachada {
        width: 80%;
        height: auto;
        padding-bottom: 10%;
    }

}
