@font-face {
	font-family: "Mornserrat-Regular";
	src: url("../src/fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("../src/fonts/Poppins-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins-Regular";
}

html {
	background-image: url("../src/img/background/background.webp");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100%;
}

body {
	width: 55dvw;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: whitesmoke;

}

/* header{
	height:5%;
	display: flex;
	justify-content: center;
	align-items: center;
	
} */


nav {
	display: block;
	position: sticky;
	z-index: 2;
	background: #8f5d467a;
	height: 10dvh;
	width: 100%;

	img {
		height: 100%;
		width: auto;
	}

	div {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-evenly;
	}

	ul {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			text-decoration: none;
			color: black;
			transition: color 0.3s ease-in-out, background 0.2s ease-in-out;
			width: 10em;
			text-align: center;
			cursor: pointer;
			border-radius: 20px;
			padding: 10px 0px;
			margin-right: 5px;
			font-family: "Poppins-Regular";
			font-size: large;

			&:hover {
				background-color: #AC947D;
				color: white;
			}
		}
		.selected {
			background-color: #AC947D;
			color: white;
		}
	}

	#mobile-nav {
		display: none;
	}

	#desktop-nav {
		display: flex;
	}

	@media (max-width: 600px) {
		#mobile-nav {
			display: flex;
			transform: translateX(-15dvw);
			margin-left: 10px;
			align-items: center;

			#menu-icon {
				background-color: rgb(180, 146, 116);
				border-radius: 10px;
				border: 1px solid rgb(68, 68, 68);
				box-shadow: 0px 0px 5px rgb(61, 61, 61);
				height: 60%;
				width: 22%;
				display: flex;
				text-align: center;
				justify-content: center;
				align-items: center;
				font-size: medium;

				img {
					margin: 5px;
					height: 40%;
					width: auto;
				}

			}
		
			#logo {
				transform: translateX(-5dvw);
			}

			#menunav {
				transition: all 0.5s ease-in-out;
				position: absolute;
				box-shadow: 0px 0px 5px rgb(61, 61, 61);
				top: 10dvh;
				left: 5dvh;
				width: 50vw;
				height: 40dvh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: #C4ACA1;
				border-radius: 10px;
				transform: translateX(-100%);
				ul{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					a{
						margin: 0;
						border-radius: 0;
						padding: 0;
						width: 100%;
						text-align: center;
						list-style: none;
						font-size: 1.5rem;
						margin: 1.5dvh 0; 
						color: black;
						cursor: pointer;	
					}
					
					a::after{
						content: "";
						border-bottom: #AC947D solid 2px;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						width: 75%;
						height: 10px;
						margin-top: 1.5dvh;
						transform: translateX(15%);
					}
					
				}
			}
		}

		#desktop-nav {
			display: none;
		}

	}
}
.deactivate{
	animation: translateToLeft 1s ease-in-out forwards;
}
.activate{
	animation: translateToLeft 1s ease-in-out reverse forwards;
}

@keyframes translateToLeft {
	to{
		transform: translateX(-100%);
	}else{
		transform: translateX(0);
	}
}

h1 {
	text-wrap: balance;
}

main {
	width: 100%;
	display: flex;
	background-color: whitesmoke;
	min-height: 83%;
}

body::-webkit-scrollbar {
	width: 5px;
	background-color: #8f5d467a;
}

body::-webkit-scrollbar-thumb {
	background-color: #AC947D;
	border-radius: 6px;
}

footer {
	height: 7dvh;
	background-color: #c4aca1;
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;

	input {
		height: 40px;
		width: 40px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: transparent;
		border-style: none;

		&:hover {
			background-repeat: no-repeat;
			background-position-x: center;
		}
	}
}

.insta {
	height: 50px;
	width: 50px;
	background-image: url(../src/img/redes/instaBla.png);

	&:hover {
		background-image: url(../src/img/redes//instaCol.png);
	}
}

.twitter {
	background-image: url(../src/img/redes/twiterBl.png);

	&:hover {
		background-image: url(../src/img/redes/twitterCol.png);
	}
}

.facebook {
	background-image: url(../src/img/redes/faceBl.png);

	&:hover {
		background-image: url(../src/img/redes/faceCol.png);
	}
}


.hidden {
	display: none !important;
}


@media (min-width: 601px) and (max-width: 1350px) {
	body {
		width: 80dvw;
	}

	/* header{
		height: 20%;
	} */
	/* main {
		height: 67%;
	} */
}

@media (max-width: 600px) {

	/* header{
		height: 15%;
	} */
	body {
		width: 100dvw;
	}

	/* main {
		height: 72%;
	} */

	nav {}

}